table,
th {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
  border-collapse: collapse;
  font-size: 12pt;
  font-family: 'helvetica';
  text-align: center;
}
th {
  background-color: lightgrey;
  font-size:14pt;
  text-align: center;
}
tr:nth-child(even) .conteudo {
  background: salmon;
}
tr:nth-child(odd) .conteudo {
  background: darksalmon;
}

.players{
   width: 200px;
 }

